@import 'bourbon/bourbon';
@import "grid-settings";
@import 'base/base';
@import 'neat/neat';
@import 'typography';

$frame-color1: #032F3F;
$frame-color2: #9FC160;
$frame-color3: #F0B606;
$frame-color4: #F28808;
$frame-color5: #DB3B15;

@include keyframes(pulseBg)
{
  0% {
    background:$frame-color1;
  }
  20%{
    background:$frame-color2;
  }
  40% {
    background:$frame-color3;
  }
  60% {
    background:$frame-color4;
  }
  80% {
    background:$frame-color5;
  }
  100% {
    background:$frame-color1;
  }

}

body {
  @include animation-name(pulseBg);
  @include animation-duration(50s);
  @include animation-timing-function(ease-in-out);
  @include animation-iteration-count(infinite);
  color:#FFF;
}


section {
  @include outer-container;

  
}
